<% provide(:title, @contest.title) %>
<div class="container contest-show-container">

	<div class="contest-name">
        <%= @contest.title %> 
  	</div>
  	
  	<div class="i-tabs">
  		<ul class="nav nav-tabs">
  			<li><%= link_to "Story", '#' %></li>
	        <li><%= link_to "Updates", '#' %></li>
	        <li><%= link_to "Comments", '#' %></li>
	        <li><%= link_to "Funders", '#' %></li>
	        <li><%= link_to "Gallery", '#' %></li>
	        <li><%= link_to "Random", '#' %></li>
	  	</ul>
  	</div>
  		
	<div class="col-md-8 col-sm-8 contest-show-content">
	  <div class="contest-show-content2">

		<div class="contest-image">
    		<%= image_tag @contest.image.thumb('600x320').url if @contest.image_stored? %>
    	</div>

    	<div class="contest-description">
        	<%= @contest.description %>
    	</div>
     </div>
    </div>

    <div class="col-md-4 col-sm-4">

    		<%= form_tag new_charge_path(@contest), :method => "post", :role => "form", :class => "donate-form" do %>

				<div class="form-group">
					<label>Any amount more that $1</label>
					<%= text_field_tag :amount, "$25", :class => "form-control" %>
				</div>
						
				<div class="button container">
					<%= button_tag "Donate", :class => "btn btn-default btn-lg" %>
				</div>
			<% end %>

    </div>

</div>